<script src="{{'/assets/jquery/jquery.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{'/assets/popper/popper.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{'/assets/bootstrap/js/bootstrap.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{'/assets/jquery-easing/jquery.easing.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{'/assets/scrollreveal/scrollreveal.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{'/assets/js/agency.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<!--<script> if (navigator.serviceWorker && !navigator.serviceWorker.controller) { navigator.serviceWorker.register('./basicServiceWorker.js'); }</script>-->
<script src="{{'/assets/js/geo.js' | prepend: site.baseurl | prepend: site.url }}"></script>