<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl  }}" />

    <link rel="shortcut icon" href="{{ '/assets/m/favicon.png' | prepend: site.baseurl   }}">
    <link rel="apple-touch-icon-precomposed"
        href="{{'/assets/m/apple-touch-icon-precomposed.png' | prepend: site.baseurl  }}">

    <title>LVdesign Studio</title>
    <link rel="apple-touch-icon" href="{{ '/assets/m/apple-touch-icon.png' | prepend: site.baseurl  }}">


    <link rel="stylesheet" href="{{'/assets/css/styles.css' | prepend: site.baseurl }}">

    <link href="{{'/assets/bootstrap/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{'/assets/font-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}" rel="stylesheet"
        type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

    <!-- meta description SEO par page consultée -->
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <!-- feed & seo -->
    {% feed_meta %}
    {% seo %}

    <!-- Google Analytics: change UA-50866135-1 to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-50866135-1', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</head>