<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<a class="sr-only" href="#contentpage">Skip to main content</a>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger " href="#page-top"><img
                src="{{'/assets/img/lvdesign-brand-50.png' | prepend: site.baseurl  }}" alt="LVdesign">LVdesign</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/' | prepend: site.baseurl  }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/' | prepend: site.baseurl  }}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/' | prepend: site.baseurl  }}">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/' | prepend: site.baseurl  }}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/' | prepend: site.baseurl  }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/articles/' | prepend: site.baseurl  }}">Articles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{'/geo/' | prepend: site.baseurl  }}">Geo</a>
                </li>

            </ul>
        </div>
    </div>
</nav>