---
layout: default_blog
---

<section id="services">

    <div class="container" id="contentpage">
        <article class="row">
            <section class="col-12 col-sm-9 main-article">

                <figure>
                    <img class="img-article-big" src="{{ page.image | prepend: site.baseurl }}"
                        alt="{{ page.title }}" />
                </figure>

                <h6>
                    <span class="small text-uppercase ">{{ page.categories }}</span> |
                    <span class="small text-uppercase ">{{ page.date | date: "%-d %B %Y" }}</span>
                </h6>
                <h1 class="titre">{{ page.title }}</h1>


                {{ content }}



                <!--<p>{{ page.tag | array_to_sentence_string }}</p>-->

                <ul>
                    {% for ta in page.tag %}
                    <li>#{{ta}} </a></li>
                    {% endfor %}
                </ul>


                <p><a href="{{ '/articles' | prepend: site.baseurl }}">-> Articles</a></p>

            </section>

            <div class="col-12 col-sm-3 aside-article">

                <h6>[ Récents Posts }</h6>
                <h6>[ Categories }</h6>
                <form action="" method="get" class="form-inline">
                    <div class="form-group">
                        <label for="q" class="sr-only"></label>
                        <input type="text" name="q" id="q" class="form-control" placeholder="Rechercher…">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Search</button>
                </form>
            </div>


        </article>
    </div>
</section>