---
layout: default_blog
title: Mes articles
---


<section id="services">


    <div class="container" id="contentpage">

        <article class="row">

            <section class="col-12 col-sm-9 main-article">
                {% for article in site.articles %}
                <article class="item">

                    <figure>
                        <img class="img-article-big" src="{{ article.image | prepend: site.baseurl }}"
                            alt="{{ article.title }}" />
                    </figure>
                    <h6>

                        <span class="small text-uppercase ">{{ article.categories }}</span> |
                        <span class="small text-uppercase ">{{ article.date | date_to_string }}</span>
                    </h6>
                    <h2 class="display-2 grand-titre ">{{ article.title }}</h2>

                    <p>{{ article.content }}</p>

                    <div class="Tweettweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="lvdesign"
                            data-count="none">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    </div>

                </article>
                {% endfor %}
            </section>


            <div class="col-12 col-sm-3 aside-article">

                <h6>[ Récents Posts }</h6>
                <h6>[ Categories }</h6>


                <form action="" method="get" class="form-inline">
                    <div class="form-group">
                        <label for="q" class="sr-only"></label>
                        <input type="text" name="q" id="q" class="form-control" placeholder="Rechercher…">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Search</button>
                </form>

            </div>
        </article>

    </div>




</section>