---
layout: default1
---

<section class="main">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">


                <div class="articles">
                    <figure>
                        <img class="image_article" src="{{ page.image_path }}" alt="{{ page.title }}">
                        <figcaption class="invisible">{{ page.title }}</figcaption>
                    </figure>
                    <p>
                        <span class="cat_article">{{page.categories}}</span> |
                        <span class="date_article">{{page.date | date_to_string }}</span>
                    </p>



                    <h2 class="titre_article_detail display-4">{{ page.title }}</h2>

                    {{ page.content }}

                    <div class="Tweettweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="lvdesign"
                            data-count="none">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                    </div>

                    <p><a href="{{'/articles/' | prepend: site.baseurl  }}">Retours aux Articles</a></p>
                </div>


            </div>
        </div>
    </div>


</section>