---
layout: default1
---

<section class="main">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                {% for tag in page.tags %}
                    {% assign tag_slug = tag | slugigy : "raw" %}
                    <a class="tag-link"
                    href= {{ site.baseurl | append: '/tags/'  | append: tag_slug | appen: "/" }}
                    rel="category tag">
                    #{{ tag }}
                    </a>
                {% endfor %}





            </div>
        </div><!-- Row -->


    </div><!-- Cont -->


</section>